/*
#346DFF
#2FB0E8
#39FFE7
#2FE87F
#B0FFAF

font-family: 'Josefin Slab', serif;
font-family: 'Josefin Sans', sans-serif;
*/

* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
    font-size: 0.618rem;
}

.wrapper {
    margin: 0 2rem;
}

.title {
    text-align: center;
    height: 7rem;
}

.title img {
    height: 100%;
}

ul {
    padding: 0;
}

li {
    display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Slab", Times, "Times New Roman", serif;
}

main h1 {
    text-align: center;
}

.navbar a {
    display: block;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #39FFE7;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.banner {
    background-color: #39ffe7;
    text-align: center;
    padding: 3rem;
    margin-top: 1rem;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    width: 100%;
}

figcaption {
    margin: 1rem;
    text-align: center;
}

article p {
    text-align: justify;
}

footer {
    text-align: center;
    margin-top: 3rem;
}

input,
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

input[type="submit"] {
    background-color: #2FB0E8;
    color: white;
    border: none;
}

@media screen and (min-width: 35rem) {
    body {
        font-size: 1rem;
    }
    .navbar a {
        float: left;
        width: calc(50% - 0.5rem);
        margin: 0 1rem 0 0;
    }
    .navbar li:last-child a {
        margin: 0;
    }
    figure {
        width: 40%;
        float: left;
        margin: 1rem;
    }
    figcaption {
        text-align: left;
    }
    form div:first-child,
    form div:nth-child(3) {
        float: left;
        width: calc(30% - 0.5rem);
        margin-right: 0 1rem 0 0;
    }
    form div:nth-child(2) {
        width: calc(70% - 0.5rem);
        float: right;
    }
    textarea {
        min-height: 141px;
    }
}

@media screen and (min-width: 60rem) {
    body {
        font-size: 1.618rem;
    }
    main article:nth-child(2) {
        width: 50%;
        padding-right: 1.5rem;
        float: left;
    }
    article h1 {
        text-align: left;
    }
    main article:nth-child(3) {
        width: 50%;
        padding-left: 1.5rem;
        float: left;
    }
    textarea {
        min-height: 150px;
    }
}
