<h1>Contact Us</h1>


<form class="clearfix">

    <div>

        <input type="text" name="name" id="name" placeholder="name">



        <input type="email" name="email" id="email" placeholder="email">



        <input type="text" name="subject" id="subject" placeholder="subject">

    </div>

    <div>
        <textarea name="comment" id="comment" rows="6" placeholder="comment"></textarea>

    </div>

    <div class="send">

        <input type="submit" value="send email">

    </div>


</form>

<div class="feedback"></div>
